@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #__next {
    @apply h-full w-full;
  }
  input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
}

@layer base {
  @font-face {
    font-family: yekanBakh;
    src: url(../assets/font/Yekan\ Bakh\ Fa-En\ 04\ Regular.ttf);
  }
}
body {
  font-family: yekanBakh;
}
.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list {
  @apply py-0 rounded-none;
}

.css-1n198ff-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  @apply shadow-textInput drop-shadow-xs;
}
